@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --paragraph-font: 'Lato', sans-serif;
    --paragraph-header-font: 'Roboto', sans-serif;
    --navigation-font: 'Ubuntu', sans-serif;
}

@keyframes show {
from {opacity: 0%;}
to { opacity: 100%;}
}

@keyframes hide {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes font-resizing {
    from {font-size: 100%;}
    to {font-size: 120%;}
}

@keyframes rotate-element {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
}

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-image: url("img/newYork.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#header-headings {
    position: absolute;
    margin: 0 auto;
}

nav {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

#logo {
    margin: 0 auto;
    display: block;
    height: 30px;
    width: 30px;
}

.logo-container {
    margin-left: 15px;
    font-family: var(--navigation-font);
    font-size: 0.8rem;
}

#header-headings > h1 {
    font-family: 'Caveat', cursive;
    text-shadow: black;
    text-shadow: 0px 5px 6px rgba(150, 150, 150, 1);
    /* font-size: 15rem; */
    font-size: calc(20vw - 2rem);
    margin: 0;
    color: white;
}

#header-headings > h2 {
    font-size: calc(5vw);
    text-align: center;
    text-shadow: 0px 5px 6px rgba(150, 150, 150, 1);

}

h2 {
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 0;
}

h3 {
    font-family:var(--navigation-font);
    font-size: 6rem;
}

h4 {
    font-family: var(--paragraph-header-font);
    font-size: 1.5rem;
}

.nav-font {
    font-family: var(--navigation-font);
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    text-align: justify;
    font-size: 1.1rem;
    line-height: 1.9rem;
    font-family: var(--paragraph-font);
}

#mail-address {
    text-align: right;
    font-size: 1.2em;
    font-family: var(--navigation-font);
}

#navigation {
    top: 60px;
    display: flex;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
}

.navigation-menu {
    margin: 0 auto;
    align-self: center;
}

#navigation ul li {
    right: auto;
    left: auto;
    bottom: 10px;
    display: inline;
    padding: 5px 15px;
    margin: 10px;
}

ul {
    list-style: none;
}

li a {
    font-size: 1.2rem;
    font-family: var(--navigation-font);
    text-decoration: none;
    color: black;
}

#navigation ul li:hover {
    cursor: pointer;
}

.menu li {
    /* width: 50%; */
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 0.60);
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    line-height: 2.5rem;
    margin: 4px;
    font-size: 1rem;
}

.menu li ul {
    display: none;
}

.menu li:hover .submenu {
    display: block;
}

.section {
    min-height: 80vh;
    padding: 40px 15vw;
    color: black;
}

#about-section {
    background-color:white;
    padding: 40px 0;
}

.about-section-flex-container {
    margin-top: 6rem;
    display: flex;
}

.about-section-left {
    background-color: black;
    color: white;
    flex: 1;
    margin: 2rem;
    margin-left: 0;
    position: relative;
}

.about-section-left h3 {
    position: absolute;
    text-align: right;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    right: 0;
    margin: 0 -5px 0 0;
    font-size: 12rem;
}

.about-section-right {
    margin: 0 4rem;
    padding: 20px;
    flex: 1;    
}

.competences-header {
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 0;
    margin-left: 30%;
}

#competences-list {
    margin-left: 30%;
    padding-left: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    line-height: 2.2rem;
    font-size: 1.5rem;
}

.question-list {
    margin-top: 10rem;
    margin-bottom: 10rem;
}

.question-list li {
    font-family: var(--paragraph-font);
    font-size: 1.3rem;
    line-height: 2rem;
}

#learn-with-me-section h3 {
    text-align: center;
}

#learn-with-me-section {
    min-height: 120vh;
    padding: 0px 0px;
    flex-direction: row;
}

.learn-with-me-container {
    display: flex;
    height: 100%;
}

#learn-with-me-left {
    background-image: url(img/brendan-church-pKeF6Tt3c08-unsplash.jpg);
    background-size: cover;
    flex: 4;
    padding-right: 30px;
}

#learn-with-me-right {
    flex: 3;
    padding: 0 20px;
}

#contact-section {
    clip-path: polygon(0 13%, 100% 0%, 100% 100%, 0% 100%);
    min-height: 50vh;
    background-color: dimgray;
}

#contact-section > h4, #contact-section > p {
    text-align: right;
} 

#general-english-prices {
    display: flex;
}

#translations-section {
    background-color: rgba(150, 150, 150, 0.60);
    position: relative;
}

#translations-section img {
    height: 100%;
    opacity: 20%;
    position: absolute;
    right: 10%;
}

.prices-container {
   
}

.price-card-container {
    width: 300px;
    height: 400px;
}

#faq {
    min-height: 70vh;
    color: white;
    background-color:black;
}

.answer-container {
    visibility: hidden;
    border: solid 3px white;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 20px;
}

#credentials-section h3 {
    text-align: right;
}

footer {
    height: 8vh;
    background-color:black;
    color: white;
}

