@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Raleway&display=swap');

@keyframes show {
from {opacity: 0%;}
to { opacity: 100%;}
}

@keyframes hide {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes font-resizing {
    from {font-size: 100%;}
    to {font-size: 120%;}
}

@keyframes rotate-element {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    /* background-color: black; */
    font-family: 'Raleway', sans-serif;
    perspective: 1000px;
}

#header-container {
    position: relative;
    min-height: 100vh;
    background-image: url("img/newYork.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    opacity: 80%;
}

#header-headings {
    padding: 7px;
    margin-right: auto;
    margin-left: auto;
    position: absolute;
}

nav {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

h1 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 10rem;
    margin-bottom: 0;
}

h3 {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 0;
}

h4, h5 {
    text-align: center;
    font-size: 25px;
}

p {
    text-align: justify;
}

#mail-address {
    text-align: right;
    font-size: 1.5em;
}

#navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
}

#navigation ul li {
    right: auto;
    left: auto;
    bottom: 10px;
    display: inline;
    border-radius: 10px;
    opacity: 70%;
    background-color: black;
    padding: 5px 15px;
    margin: 10px;
}

ul {
    list-style: none;
}

li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

#navigation ul li:hover {
    background-color:dimgray;
    box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.7);
}

.menu li {
    margin: 15px 0px;
}

.menu li ul {
    display: none;
}

.menu li:hover .submenu {
    display: block;
}

.section {
    min-height: 80vh;
    padding: 40px 15vw;
    color: white;
}

#about-section {
    background-color:dimgray;
}

#about-section > ul {
    list-style: disc;
}

#learn-with-me-section {
    background-color:black;
    display: flex;
    flex-direction: row;
}

#menu-container {
    flex: 1;
}

#menu-description-container {
    flex: 2;
    background-color: gray;
    padding: 20px;
}

#translations-section {
    background-color:dimgray;
}

#prices-section {
    background-color: white;
    color: black;
}

#contact-section {
    min-height: 50vh;
    background-color: dimgray;
}

#contact-section > h4, #contact-section > p {
    text-align: right;
} 

#general-english-prices {
    display: flex;
}

.general-english-prices-variant {
    flex: 50%;
}

.prices-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0px 30px;
}

.prices-cell {
    transform-style: preserve-3d;
    z-index: 3;
    border-radius: 20px;
    padding: 20px 20px;
    margin: 20px;
    line-height: 1.8;
    font-size: 18px;
    -webkit-box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.8); 
    box-shadow: 0px 0px 25px 3px rgba(0,0,0,0.8);
}

.prices-cell:hover .card {
    /* animation-name: rotate-element;
    animation-duration: 1s;
    animation-fill-mode: forwards; */
}

.card {
    position: absolute;
    height: 100px;
    width: 70px;
}

.front {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: blueviolet;
    backface-visibility: hidden;
}

.back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: cadetblue;
    backface-visibility: hidden;
}

.card:hover > .front {
    transform: perspective(500px) rotateY(180deg);

}
#user-row1 {
    position: relative;
    margin-right: -20px;
    top: 45px;
    left: -20px;
    font-size: 40px;
}

#user-row2 {
    position: relative;
    margin-right: -20px;
    top: 20px;
    left: -20px;
    font-size: 40px;
}

#faq {
    min-height: 70vh;
    color: white;
    background-color:black;
}

#faq-section li {
    font-size: 20px;
    line-height: 1.5;
}

#faq-section li a:hover {
    animation-name: font-resizing;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.answer-container {
    visibility: hidden;
    border: solid 3px white;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 20px;
}

#back {
    padding: 5px;
    border-radius: 7px;
    border: solid 3px gray;
    font-size: 25px;
    visibility: hidden;
}

footer {
    height: 8vh;
    background-color:black;
    color: white;
}

