@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

:root {
    --paragraph-font: 'Gentium Basic', serif;
    --paragraph-header-font: 'Playfair Display', serif;
    --navigation-font: 'Roboto Slab', serif;;
}

@keyframes show {
from {opacity: 0%;}
to { opacity: 100%;}
}

@keyframes hide {
    from {opacity: 100%;}
    to {opacity: 0%;}
}

@keyframes font-resizing {
    from {font-size: 100%;}
    to {font-size: 120%;}
}

@keyframes rotate-element {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
}

html {
    scroll-behavior: smooth;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

#header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    background-image: url("img/newYork.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#header-headings {
    position: absolute;
    margin: 0 auto;
    /* margin-right: auto;
    margin-left: auto; */
}

nav {
    z-index: 2;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

#header-headings > h1 {
    font-family: 'Caveat', cursive;
    text-shadow: black;
    text-shadow: 0px 5px 6px rgba(150, 150, 150, 1);
    font-size: 15rem;
    margin: 0;
    color: white;
}

#header-headings > h2 {
    font-size: 3rem;
    text-align: center;
    text-shadow: 0px 5px 6px rgba(150, 150, 150, 1);

}

h2 {
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 30px;
    margin: 0;
}

h3 {
    font-family: var(--paragraph-header-font);
    font-size: 3.5rem;
}

h4 {
    font-family: var(--paragraph-header-font);
    font-size: 1.5rem;
}

.nav-font {
    font-family: var(--navigation-font);
    font-size: 1.8rem;
    font-weight: bold;
}

p {
    text-align: justify;
    font-size: 1.3rem;
    line-height: 1.7rem;
    font-family: var(--paragraph-font);
}

#mail-address {
    text-align: right;
    font-size: 1.2em;
    font-family: var(--navigation-font);
}

#navigation {
    position: -webkit-sticky;
    position: sticky;
    top: 60px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: rgba(255,255,255,0.75);
}

#navigation ul li {
    right: auto;
    left: auto;
    bottom: 10px;
    display: inline;
    padding: 5px 15px;
    margin: 10px;
}

ul {
    list-style: none;
}

li a {
    font-size: 1.3rem;
    font-family: 'Roboto Slab', serif;
    color: black;
    text-decoration: none;
}

#navigation ul li:hover {
    cursor: pointer;
}

.menu li a {
    padding: 2rem 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.menu li ul {
    display: none;
}

.menu li:hover .submenu {
    display: block;
}

.section {
    min-height: 80vh;
    padding: 40px 15vw;
    color: black;
}

#about-section {
    background-color:white;
}

.about-section-left {
    margin: 2rem;
}

.about-section-right {
    margin: 2rem;
    order: 2;
}

.competences-header {
    font-size: 2rem;
    margin-top: 5rem;
    margin-bottom: 0;
    margin-left: 30%;
}

#competences-list {
    margin-left: 30%;
    padding-left: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    line-height: 2.5rem;
    font-size: 1.5rem;
}

.question-list {
    margin-top: 3rem;
}

.question-list li {
    font-family: var(--paragraph-font);
    font-size: 1.5rem;
    line-height: 2rem;
}

#learn-with-me-section {
    flex-direction: row;
}

.learn-with-me-container {
    display: flex;
}

#menu-container {
    flex: 4;
}

#menu-description-container {
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 30px 0px rgba(50, 50, 50, 0.6);
    -moz-box-shadow:    0px 5px 30px 0px rgba(50, 50, 50, 0.6);
    box-shadow:         0px 5px 30px 0px rgba(50, 50, 50, 0.6);
    flex: 3;
    padding: 20px;
}

#contact-section {
    min-height: 50vh;
    background-color: dimgray;
}

#contact-section > h4, #contact-section > p {
    text-align: right;
} 

#general-english-prices {
    display: flex;
}

.prices-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-card-container {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 300px;
    height: 400px;
}

.price-card-container:hover .flipping-card {
    transform: rotateY(.5turn);
    transition: 1.5s ease-out;
}

.flipping-card {
    box-shadow: 17px 19px 56px -1px rgba(0,0,0,0.64);
    -webkit-box-shadow: 17px 19px 56px -1px rgba(0,0,0,0.64);
    -moz-box-shadow: 17px 19px 56px -1px rgba(0,0,0,0.64);
    transform-style: preserve-3d;
    position: relative;
    height: 80%;
    width: 80%;
}

.front,
.back {
    /* border-radius: 20px; */
    width: 100%;
    height: 100%;
    position: absolute;
}

.front-card-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 10px;
    width: 92%;
    height: 92%;
}

.front {
    color: black;
    background-color: wheat;
    background-size: cover;
}

.front-card-body h4 {
    font-family: var(--navigation-font);
    font-size: 2rem;
    transform: translateZ(70px);
}

.front-card-body p {
    text-align: center;
    transform: translateZ(50px);
}

.back {
    color: white;
    background-color: black;
    transform: rotateY(.5turn);
}

.back p {
    transform: translateZ(50px);
}

#faq {
    min-height: 70vh;
    color: white;
    background-color:black;
}

.answer-container {
    visibility: hidden;
    border: solid 3px white;
    border-radius: 10px;
    padding: 0px 20px;
    margin: 20px;
}

footer {
    height: 8vh;
    background-color:black;
    color: white;
}

